.info-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: -20px 0;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .header-top{
    font-size: 1.6rem; 
    font-style: oblique;
    color: #808080;
  }